{% extends 'labs/base.html'%}


{% block title%} ORM Django {% endblock %}


{% block content%}
<h2><a href="{% url 'task_1'%}">Задание 1</a><h5>(Выводит сведения об отчисленных студентах (ФИО студента, название группы).
и выводит данные студента, отчисленного последним.)</h5></h2>
<ul>
    <li><a href="{% url 'create_student'%}">Создать 5 новых студентов</a></li>
</ul>
<h2><a href="{% url 'task_2'%}">Задание 2</a><h5>(Показывает все учебные планы)</h5></h2>
<ul>
    <li><a href="{% url 'create_curriculum'%}">Создать учебный план</a></li>
    <li><a href="{% url 'add_curriculum'%}">Учебные планы для групп (добавляет учебный плат группе, если его у неё
        нету)</a></li>
</ul>
<h2><a href="{% url 'task_3'%}">Задание 3</a><h5>(Объеденяет группы одного года набора и одной специальности в одну группу, если общее количество студентов в них менее 20 студентов, отображает список студентов)</h5></h2>

{% endblock %}