{% extends 'labs/base.html'%}

{% block title%} Задание 3 {% endblock %}


{% block content%}
<h2>Список студентов</h2>
<ul>
    {% for student in st %}
    <li> Ф.И.О -<a href ="{{student.get_url}}"> {{ student.surname }} {{ student.name }} {{ student.patronymic }}</a>
        <ul><li>Группа - {{student.group_code}} | Номер зачётки - {{student.record_book_number}}</li></ul>
    </li>
    {% endfor %}
    <h2>Объединенные группы</h2>
    {% for student_list in update_list %}
    <h3>Студенты объединенные в одну группу</h3>
    {% for student in student_list %}
    <li> Ф.И.О -<a href ="{{student.get_url}}"> {{ student.surname }} {{ student.name }} {{ student.patronymic }}</a>
        <ul><li>Группа - {{student.group_code}} | Номер зачётки - {{student.record_book_number}}</li></ul>
    </li>
    {% endfor %}
    {% endfor %}
</ul>
{% endblock %}